*.txt
!requirements.txt
!readme.md
!vocab/stopwords.txt
*.json
__pycache__/
*.log
!content_info/content.json
!data/process_1/*.json
!data/IT-IDF/*.json
!model/*.json
!vocab/vocab.json
!vocab/stop_merge.json