colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1762525244278/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1765632549069/work
gensim @ file:///home/task_176165103493909/conda-bld/gensim_1761651460341/work
jieba==0.42.1
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1765794027227/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_kiwisolver_1762488745/work
matplotlib==3.10.8
munkres==1.1.4
numpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_numpy_1763351006/work/dist/numpy-2.3.5-cp311-cp311-linux_x86_64.whl#sha256=321966b39af6fd2451eac0fb457d64b1c9253896a6d48f621f8b24194d97e91a
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1764614468005/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pillow_1764330106/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1766475444/work
PySide6==6.10.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_scikit-learn_1765801236/work/dist/scikit_learn-1.8.0-cp311-cp311-linux_x86_64.whl#sha256=10e8a0aaf1f4d6aa57c1c153e69c928c295917ff92981937b342f55a31cdb18b
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1763219265843/work/dist/scipy-1.16.3-cp311-cp311-linux_x86_64.whl#sha256=7ad7ede3d5e77ab99acf8c5332a36bb7cc24e9da64450c7fec8df2b48a1b2351
shiboken6==6.10.1
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smart_open @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_smart_open_1762641207/work/dist
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tinydb==4.8.2
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1765836374256/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1765719872007/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1763054814805/work
wordcloud @ file:///home/conda/feedstock_root/build_artifacts/wordcloud_1756897397133/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1762594894668/work
